<form [formGroup]="cambioForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>

    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-label>Moeda</mat-label>
          <mat-radio-group formControlName="moeda"
                           (change)="changePrefix()">
            <!--<mat-radio-button value=0>Dólar</mat-radio-button>-->
            <mat-radio-button value=1 [checked]="true">Guaraní</mat-radio-button>
            <mat-radio-button value=2>Real</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Valor</mat-label>
            <input matInput
                   formControlName="valor"
                   type="number"
                   >
            <span matPrefix [textContent]="getPrefix()"></span>
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Extenso</mat-label>
            <input matInput placeholder="Valor Extenso" formControlName="extenso" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>

  </mat-card>
</form>

<pre>{{cambioForm.value | json}}</pre>
