<form [formGroup]="cambioForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Moeda</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="moeda">
            <mat-radio-button value="0">Dólar</mat-radio-button>
            <mat-radio-button value="1">Guaraní</mat-radio-button>
            <mat-radio-button value="2">Real</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor" type="number">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>,00</span>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Extenso</mat-label>
            <input matInput placeholder="Valor Extenso" formControlName="extenso" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>

  </mat-card>
</form>
